.btn-view {
    background-color: #e6f7ff;
    color: #1890ff;
    margin-right: 8px;
    padding: 7px;

  }
  
  .btn-edit {
    background-color: #f6ffed;
    color: #52c41a;
    margin-right: 8px;
    padding: 7px;
  }
  
  .btn-delete {
    background-color: #fff1f0;
    color: #f5222d;
    padding: 7px;
  }
  