<div nz-row nzGutter="25">
    <!-- skeleton -->
    <ng-template #loadingSkeleton>
      <nz-skeleton class="bg-white dark:bg-white/10 rounded-6 p-[30px] pt-[15px]" [nzShape]="circle" [nzActive]="true"
        [nzParagraph]="{ rows: 6 }"></nz-skeleton>
    </ng-template>
    <!-- skeleton -->
  
    <div nz-col nzXs="24" class="mb-[25px]">
      <ng-container *ngIf="showContent; else loadingSkeleton">
        <div
          class="bg-white dark:bg-white/10 m-0 p-0 text-theme-gray dark:text-white/60 text-[15px] rounded-10 relative h-full d-flex">
          <div
          class="py-[16px] px-[25px] text-dark dark:text-white/[.87] font-medium text-[17px] border-regular dark:border-white/10 border-b d-flex " style="display: flex ;
              justify-content: space-between;">
          <h4 class="mb-0 text-lg font-medium text-dark dark:text-white/[.87] d-inline">Add Loan Plan</h4>
          <div class="d-inline">

            <nz-button-group>
              <a class="text-white  text-[13px] font-semibold bg-primary border-primary px-[8px] capitalize" nz-button routerLink="/plans/loan-plan-list">All Plans</a>
            </nz-button-group>
          </div>

        </div>

          <div class="p-[25px]">
            <form class="max-w-full" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                <nz-form-item nzGutter="25" class="mb-0">
                    <div nz-col nzMd="8" nzSm="12" nzXs="24">
                        <nz-form-control  class="mb-[10px]" nzErrorTip="Please input Plan Name!">
                          <nz-form-label
                            class="flex items-center [&>label]:text-dark [&>label]:dark:text-white/60 mb-[10px] p-0 text-[15px] capitalize"
                            nzFor="txtPlanName"
                            nzRequired
                          >
                            Plan Name
                          </nz-form-label>
                            <input class="w-full rounded-6 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] min-h-[50px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" nz-input id="txtPlanName" formControlName="txtPlanName" Placeholder="Plan Name" />
                        </nz-form-control>
                      </div>
                      <div nz-col nzMd="8" nzSm="12" nzXs="24">
                          <nz-form-control  class="mb-[10px]" nzErrorTip="Please input Maximum Amount!">
                            <nz-form-label
                              class="flex items-center [&>label]:text-dark [&>label]:dark:text-white/60 mb-[10px] p-0 text-[15px] capitalize"
                              nzFor="txtMaximumAmount"
                              nzRequired
                            >
                              Maximum Amount
                            </nz-form-label>
                            <nz-input-group [nzPrefix]="'$'">
                              <input class="w-full rounded-6 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] min-h-[50px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" nz-input id="txtMaximumAmount" formControlName="txtMaximumAmount" Placeholder="Maximum Amount" />
                            </nz-input-group>
                          </nz-form-control>
                        </div>
                      <div nz-col nzMd="8" nzSm="12" nzXs="24">
                          <nz-form-control  class="mb-[10px]" nzErrorTip="Please input Minimum Amount!">
                            <nz-form-label
                              class="flex items-center [&>label]:text-dark [&>label]:dark:text-white/60 mb-[10px] p-0 text-[15px] capitalize"
                              nzFor="txtPlanName"
                              nzRequired
                            >
                             Minimum Amount
                            </nz-form-label>
                            <nz-input-group [nzPrefix]="'$'">
                              <input class="w-full rounded-6 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] min-h-[50px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" nz-input id="txtMinimumAmount" formControlName="txtMinimumAmount" Placeholder="Minimum Amount" />
                            </nz-input-group>
                          </nz-form-control>
                        </div>
                      <div nz-col nzMd="8" nzSm="12" nzXs="24">
                          <nz-form-control  class="mb-[10px]" nzErrorTip="Please input Intarest Rate!">
                            <nz-form-label
                              class="flex items-center [&>label]:text-dark [&>label]:dark:text-white/60 mb-[10px] p-0 text-[15px] capitalize"
                              nzFor="txtPlanName"
                              nzRequired
                            >
                              Intarest Rate
                            </nz-form-label>
                            <nz-input-group [nzPrefix]="'%'">
                              <input class="w-full rounded-6 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] min-h-[50px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" nz-input id="txtIntarestRate" formControlName="txtIntarestRate" Placeholder="Intarest Rate" />
                            </nz-input-group>
                          </nz-form-control>
                        </div>
                      <div nz-col nzMd="8" nzSm="12" nzXs="24">
                          <nz-form-control  class="mb-[10px]" nzErrorTip="Please input Max Repayment Month">
                            <nz-form-label
                              class="flex items-center [&>label]:text-dark [&>label]:dark:text-white/60 mb-[10px] p-0 text-[15px] capitalize"
                              nzFor="txtMaxRePaymentMonth"
                              nzRequired
                            >
                              Max Repayment Month
                            </nz-form-label>
                              <input class="w-full rounded-6 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] min-h-[50px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" nz-input id="txtMaxRePaymentMonth" formControlName="txtMaxRePaymentMonth" Placeholder="Max Repayment Month
                              " />
                          </nz-form-control>
                        </div>
                      <div nz-col nzMd="8" nzSm="12" nzXs="24">
                          <nz-form-control  class="mb-[10px]" nzErrorTip="Please input Min Repayment Month!">
                            <nz-form-label
                              class="flex items-center [&>label]:text-dark [&>label]:dark:text-white/60 mb-[10px] p-0 text-[15px] capitalize"
                              nzFor="txtMinRepaymentMonth"
                              nzRequired
                            >
                            Min Repayment Month
                            </nz-form-label>
                              <input class="w-full rounded-6 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] min-h-[50px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" nz-input id="txtMinRepaymentMonth" formControlName="txtMinRepaymentMonth" Placeholder="Min Repayment Month" />
                          </nz-form-control>
                        </div>
                        <div nz-col nzMd="8" nzSm="12" nzXs="24">
                          <nz-form-control  class="mb-[10px]" nzErrorTip="Please input Processing Fee!">
                            <nz-form-label
                              class="flex items-center [&>label]:text-dark [&>label]:dark:text-white/60 mb-[10px] p-0 text-[15px] capitalize"
                              nzFor="txtProcessingFee"
                              nzRequired
                            >
                            Processing Fee<small>(per loan)</small>
                            </nz-form-label>
                            <nz-input-group [nzPrefix]="'%'">
                              <input class="w-full rounded-6 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] min-h-[50px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" nz-input id="txtProcessingFee" formControlName="txtProcessingFee" Placeholder="Processing Fee" />
                            </nz-input-group>
                          </nz-form-control>
                        </div>
                        <div nz-col nzMd="8" nzSm="12" nzXs="24">
                          <nz-form-control  class="mb-[10px]" nzErrorTip="Please input Late Fee!">
                            <nz-form-label
                              class="flex items-center [&>label]:text-dark [&>label]:dark:text-white/60 mb-[10px] p-0 text-[15px] capitalize"
                              nzFor="txtLateFee"
                              nzRequired
                            >
                            Late Fee<small>(per Installment) </small>
                            </nz-form-label>
                            <nz-input-group [nzPrefix]="'%'">
                              <input class="w-full rounded-6 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] min-h-[50px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" nz-input id="txtLateFee" formControlName="txtLateFee" Placeholder="Late Fee" />
                            </nz-input-group>
                          </nz-form-control>
                        </div>
                      <div nz-col nzMd="8" nzSm="12" nzXs="24">
                        <nz-form-control  class="mb-[10px]" nzErrorTip="Please input your Discraption!">
                          <nz-form-label
                            class="flex items-center [&>label]:text-dark [&>label]:dark:text-white/60 mb-[10px] p-0 text-[15px] capitalize"
                            nzFor="txtDiscraption"
                            
                          >
                          Discraption
                          </nz-form-label>
                            <input class="w-full rounded-6 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] min-h-[50px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" nz-input id="txtDiscraption" formControlName="txtDiscraption" Placeholder="Discraption" />
                        </nz-form-control>
                      </div>
                      <div nz-col nzMd="8" nzSm="12" nzXs="24">
                        <nz-form-control nxMd="8" nzXs="24" class="mb-[10px]" nzErrorTip="The input is not valid Employee Type!">
                            <nz-form-label class="opacity:0 flex items-center [&>label]:text-dark [&>label]:dark:text-white/60 mb-[10px] p-0 text-[15px] capitalize" nzRequired nzFor="rdlIsActive">Status</nz-form-label>
                            <nz-radio-group formControlName="rdlIsActive">
                              <label class="dark:text-white/[.87]" nz-radio nzValue="1">Active</label>
                              <label class="dark:text-white/[.87]" nz-radio nzValue="2">InActive</label>
                            </nz-radio-group>
                          </nz-form-control>
                          </div>
                </nz-form-item>
                <nz-form-item nz-row class="register-area" class="mb-0">
                  <nz-form-control>
                    <button class="bg-primary hover:bg-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[30px] h-[44px]" nz-button nzType="primary">Update</button>
                  </nz-form-control>

                </nz-form-item>


              </form>
          </div>
        </div>
      </ng-container>
    </div>

     