
  

  .order-summary-details .discount {
    color: #ff4d4f; /* Example color for discount */
  }

  .main-form{
    display: flex;
  }
  .custome{
    margin: 0 0 7px 0;
  }
  .ant-input-affix-wrapper {
    padding: 0px 12px !important;
    border-radius: 6px;
}

